.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__link {
  text-decoration: none;
}

.header__square-pic {
  min-height: 568px;
  width: 568px;
  max-height: 756px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

.logo {
  z-index: 1;
  width: 182px;
  height: 32px;;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;

}

.header__title {
  margin: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustrarion {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph_top {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph_bot {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
}

.two-columns__paragraph-mid {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.content {

}

.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.section-title {
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  width: 60%;
}

.section-subtitle {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  width: 60%;
}

.table {
  width: 1100px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text { 
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-description {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  width: 100%;
  height: 890px;
  background-color: #f2f2f2;
  z-index: 0;
}

.feynman__title {
  margin: 0;
  padding-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 70px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.feynman__link {
  position: absolute;
  text-decoration: none;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  margin: 0;
  padding-top: 90px;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:#1f1f1f;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  /*три селектора ниже не понадобились, потому что основное положение всех вложенных блоков описывается в блоке footer__columns*/
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {

}

.footer__column_content_info {

}

.footer__column-links {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
}
 
.footer__social-icon {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
  min-height: 10px;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
} 

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
